@model Project_1.Models.Meeting_Details

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

@{
    ViewBag.Title = "Client_New";
}

<h3>@ViewBag.Client_Name</h3>

<h5>Add New Meeting</h5>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Client_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Client_Name", new SelectList(ViewBag.data, "Firm_Name", "Firm_Name"), new { Style = "width:250px; height:40px" })
                @Html.ValidationMessageFor(model => model.Client_Name, "", new { @class = "text-danger" })

                <button type="button" onclick="location.href='@Url.Action("Create","Client_Details")'" style="width:100px;height:40px">Add Client</button>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date_Time, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date_Time, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date_Time, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model=>model.ID, htmlAttributes: new { @class="control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ID, "", new { @class="text-danger"})
            </div>
        </div>

        @*<div class="form-group">
            <input type="hidden" value="@ViewBag.hdnflg" id="hdnflg" />
        </div>*@


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    var hdnFlagVal = $("#hdnflg").val();
</script>

<script type="text/javascript">
    $(function () {
        $('#Date_Time').datetimepicker({
            format: "DD/MM/YYYY"
        }).on('dp.change', function (e) {
            $(this).data('DateTimePicker').hide();
        });
    });
</script>
