@model Project_1.Models.UserAdmin

@{
    ViewBag.Title = "Login11";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>My Project</title>
    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin.css" rel="stylesheet">

    @Scripts.Render("~/bundles/jquery")
</head>
<body id="page-top">
    <div id="content-wrapper">
        <div class="container-fluid" style="padding-left: 500px;"><br /><br />
            <div class="row" style="vertical-align:central">
                <div class="col-md-5">
                    <div style="border:2px ridge black; padding:5px;">
                        <h3 class="text-center">Login</h3>
                       
                        @*@using (Html.BeginForm())*@
                        @using (Html.BeginForm("Login11","ULogin",FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">

                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Email_ID, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        @*trial ViewBag
                                        @ViewBag.ErrorMessage*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Login" name="login" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>


                        }
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>
</html>