@using Project_1.Models
@model IEnumerable<UserAdmin>
@{
    ViewBag.Title = "User list";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>User List</h2>

<ul class="list-group" style="width:200px">
    @foreach (UserAdmin user in @Model)
    {
        <li class="list-group-item">@Html.ActionLink(user.Name, "Index", "Admin_Meet_Display", new { MeetID = user.ID }, null)</li>
    }
</ul>

    @*@Html.DropDownListFor(model=>model.ID, ViewBag.UserAdmins as SelectList,"---Select Username---", new { @onChange= "selectedText(ddlItem)" })*@
    
    @*<input type="text" id="txt" />*@
    
    @*@Html.DropDownList("Name", new SelectList(ViewBag.data, "Name", "Name", new { @onChange = "selectedText(this)" }), new { Style = "width:250px; height:40px" })
    <input type="submit" value="Submit" class="btn btn-default" style="border:thick" />*@

    @*--------------------------*@

    @*@foreach (var name in Model.listUA)
    {
        @Html.DropDownList("Name", new SelectList(ViewBag.data, "Name", "Name"), new { Style = "width:250px; height:40px" })
        
        @Html.DisplayNameFor(Model=>Model.listMeeting)

    }*@
   
    @*<select asp-for="Name" asp-items="@(new SelectList(Model.Name,"Name","Name"))"></select>
    <input type="submit" value="Submit" class="btn btn-default" style="border:thick" />

    <h1>@TempData["Data"]</h1>*@


@*@foreach (UserAdmin user in @Model)
{
    @Html.DropDownList("Name", new SelectList(ViewBag.data, "Name", "Name"), new { Style = "width:250px; height:40px" })
}*@

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Time)
        </td>
        <td> 
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.M_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.M_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.M_ID })
        </td>
    </tr>
}

</table>*@
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    function selectedText(ddlItem)
    {
        var selValue = ddlItem.value;
        var selText = ddlItem.options[ddlItem.selectedIndex].innerHTML;
        $('txt').val(selText);
    }
</script>