@model IEnumerable<Project_1.Models.Attendence2>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
    if (Session["Id"] == null)
    {
        Response.Redirect("~/ALogin/Login15");
    }
}

<h4>User Attendence</h4>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Name)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Email_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE_TIME)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.UserAdmin.ID)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Email_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATE_TIME)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.UserAdmin.ID)
            </td>*@
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.AID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.AID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.AID })
                </td>*@
        </tr>
    }

</table>
