@model IEnumerable<Project_1.Models.Client_Details>

@{
    ViewBag.Title = "Index";
    if (Session["Id"] == null)
    {
        Response.Redirect("~/ULogin/Login11");
    }
}
    
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">*@

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<div class="row">
    <div class="col-sm col-md-4">
        <h5>Client Details</h5>
    </div>
    <div class="col-sm col-md-4"> </div>
    <div class="col-sm col-md-4" style="text-align:end">
        <button class="active">@Html.ActionLink("Create New", "Create")</button>
    </div>
</div>


    @*Modal code*@
    @*
        using (Html.BeginForm())
        {
        @Html.AntiForgeryToken()
        <button class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#CreateClientModal">Create Client by modal</button>
        <div class="modal fade" data-keyboard="false" data-backdrop="static" id="CreateClientModal" tabindex="-1" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create Client</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Firm_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Firm_Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Firm_Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Contact_Person_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Contact_Person_Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Contact_Person_Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Email_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Email_ID, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email_ID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Mobile_No, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Mobile_No, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Mobile_No, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary">Create</button>
                        <button class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }

    //Modal code end
    *@
<div class="table-responsive-md">
    <table class="table">
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Firm_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact_Person_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile_No)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="table-info">
                <td>
                    @Html.DisplayFor(modelItem => item.Firm_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact_Person_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile_No)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.C_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.C_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.C_ID })
                </td>
            </tr>
        }

    </table>
</div>